@import "tailwindcss";
@import "@repo/tailwind-config";
@import "@repo/ui/theme.css";
@source "../src/**/*.{ts,tsx}";
@source "../../../packages/ui/src/**/*.{ts,tsx}";

:root {
  --header-height: calc(--spacing(16));
  --header-tablet-height: calc(--spacing(14));
  --header-mobile-height: calc(--spacing(18));
}
