PORT=3002
API_URL=http://localhost:3002
WEB_ORIGIN=http://localhost:3001
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/open_router_user_sessions?schema=public"
SESSION_SECRET="session-secret"
SESSION_COOKIE_NAME="session"
SESSION_COOKIE_MAX_AGE=604800 # 30 days
COOKIE_SECURE=false
COOKIE_SAME_SITE="lax"
